*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.home,.register{
    max-width: 1440px;/* Lo maximo que va a crecer el home */
    margin: 0 auto;
    background-image: url('../images/bg-2.png');
    font-family: var(--fuente);   
}